*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto";
}



.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

header{
    height: 250px;
    padding:45px 0;
    background-color: #353231;
    margin: 0 auto;
    
}

.nome{
   
    color: white;
    max-width: 100%;
    
}

.nome img{
    width: 17%;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 27%;
    float: left;


}
.titulo h2{
    position: relative;
    font-size: 45px;
    text-align: center;
    top: 0px;
    left: 58px;
    padding:0 20px;
    font-family: 'Montserrat' , sans-serif;
}

.titulo ul{
    list-style-type: none; 
    overflow: hidden;
}

.titulo ul li{
    
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 35%;

}

/* conteudo texto **/

.corpo{
   max-width: 100%;
   
   border: solid 1px #ccc;
   padding: 0 300px;
}

.box{
    
    background-color:#353231;
    padding: 10px 0;
    max-width: 500px;
    margin: 10px auto;
}

.texto{
    margin-top: 00px;
    width: 100%;
    text-align: center;
    float: right;
    color: white;
}

.texto ul {
    margin-bottom: 25px;
    padding: 0 15%;
}

.texto ul li{
   
    
    list-style-position: outside;
    color: black;
    text-align: justify;
    
    
}
